#chart1 {
  padding-top:20px;
  stroke-width: 1px;
}

#chart1 text{
  font-size: 18px;
}
/* 
.medium{
  width: 50%;
}

.large{
  width: 100%;
} */

#spline {
  stroke-width: 1px;
  padding-right: 10px;
}

#spline text{
  font-size: 16px;
}

#pie2 text{
  font-size: 16px;
}